:root{
    --nav-button-highlight: linear-gradient(to top, hsl(0, 0%, 30%), transparent)
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body{
    position: relative;
    margin: 0;
}
.white-text{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.gray-text{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(182, 182, 182);
}

.container-heading-text{
    display: block;
    text-align: center;
}

.top-heading-text{
    margin-top: 40px;
    padding-top: 25px;
    font-size: 2.8125rem; /*45px*/
}

.main-heading-text{
    margin-top: 10px;
    font-size: 100px;
    text-shadow: 0px 5px 5px rgb(139, 139, 139);
}

.nav-bar{
    display: grid;
    gap: 12px;
    grid-template-columns: 183px max-content max-content 1fr max-content;
    grid-template-rows: 48px;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 1px;
    width: 100%;
    height: 48px;
    border-bottom: 1px hsl(0, 0%, 47%) solid;
}
.nav-bar .logo{
    position: relative;
    right: 1px;
    top: 1px;
    width: 170px;
}
.nav-bar-item .logo-container{
    position: relative;
    left: 0;
}
.nav-bar-item-std-padding{
    padding-left: 10px;
    padding-right: 10px;
}
.nav-bar-item {
    position: relative;
    width: 100%;
    font-size: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.nav-bar-item::before{
    content: "";
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 10%;
    height: 0px;
    z-index: 3;
    transition: 
    height 100ms,
    width 100ms;
}
.nav-bar-item:hover::before{
    height: 3px;
    width: 100%;
}
.nav-bar-item::after{
    content: "";
    background: var(--nav-button-highlight);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition:
    height 100ms;
}
.nav-bar-item:hover::after{
    height: 100%;
}
.login-content{
    position: relative;
    display: inline-flex;
    padding-left: 17px;
    padding-right: 5px;
}
.nav-bar-item .login-img{
    margin-left: 5px;
    bottom: 1px;
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 30px;
}

.hero-section-container{
    display: block;
    text-align: center;
    position: absolute;
    margin-top: 48px;
    background-image: url(../images/voidspace/blackhole-6274733_1920.jpg);
    background-position: center;
    position: relative;
    background-attachment: scroll;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    z-index: 1;
}
.hero-section-container .call-to-action-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 380px;
    font-size: 1.5rem;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: rgb(26, 26, 26);
    border-radius: 15px;
}
.hero-section-container .call-to-action-button .shoping-img{
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-right: 7px;
    width: 40px;
    z-index: 10;
}
.hero-section-container .call-to-action-button-text{
    margin-top: 0;
    margin-bottom: 0;
    z-index: 10;
    position: relative;
    display: inline-flex;
}
.hero-section-container .call-to-action-button::before{
    content: "";
    position: absolute;
    background: linear-gradient(to bottom right, rgb(238, 113, 10), rgb(212, 177, 21));
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border-radius: 15px;
    transition: all 11s;
    z-index: -2;
}
.hero-section-container .call-to-action-button::after{
    content: "";
    position: absolute;
    background: linear-gradient(to bottom, transparent, transparent, rgb(238, 113, 10), rgb(212, 177, 21));
    width: 100.1%;
    height: 100.1%;
    border-radius: 14px;
    opacity: 0;
    transition: all 200ms;
}
.hero-section-container .call-to-action-button:hover{
    font-weight: bold;
}
.hero-section-container .call-to-action-button:hover::after{
    opacity: 100;
}