p{
    font-size: 20px;
}

body{
    background-color: rgb(252, 238, 211);
}

.i-understand{
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: rgb(196, 196, 196);
    padding: 10px;
}

.i-understand:hover{
    background-color: rgb(175, 175, 175);
}